# Flight Analysis

In [1]:
#Import dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as stats

In [2]:
# Read the Data
flightdata = pd.read_csv("data/avgaf.csv")
passengerdata = pd.read_csv("data/ps.csv")
oildata = pd.read_csv("data/oil.csv")

In [3]:
passengerdata.head()

   passengers  year  quarter
0   178751326  2018        1
1   205371472  2018        2
2   205919222  2018        3
3   133190426  2018        4
4   171454390  2017        1

In [5]:
passenger=passengerdata.rename(columns={'passengers':'Passengers','year':'Year','quarter':'Quarter'})
passenger.head()

   Passengers  Year  Quarter
0   178751326  2018        1
1   205371472  2018        2
2   205919222  2018        3
3   133190426  2018        4
4   171454390  2017        1

In [6]:
#Clean the passenger data
passenger.fillna(0)

    Passengers  Year  Quarter
0    178751326  2018        1
1    205371472  2018        2
2    205919222  2018        3
3    133190426  2018        4
4    171454390  2017        1
5    195041193  2017        2
6    195283602  2017        3
7    190561921  2017        4
8    167419877  2017        1
9    189271755  2016        2
10   191223225  2016        3
11   182735291  2016        4
12   159092072  2015        1
13   182926374  2015        2
14   186961322  2015        3
15   178543401  2015        4
16   154505886  2014        1
17   175946777  2014        2
18   177653259  2014        3
19   167994939  2014        4
20   153149710  2013        1
21   171360337  2013        2
22   172303392  2013        3
23   162945857  2013        4
24   153377591  2012        1
25   171253530  2012        2
26   172548469  2012        3
27   160124181  2012        4
28   149481802  2011        1
29   171117806  2011        2
30   173650767  2011        3
31   161651239  2011        4
32   146021252  2010        1
33   167177806  2010        2
34   171342440  2010        3
35   161405206  2010        4
36   145690975  2009        1
37   165383723  2009        2
38   168804028  2009        3
39   154496705  2009        4
40   163785425  2008        1
41   177737714  2008        2
42   172771175  2008        3
43   154916771  2008        4

In [7]:
# Rename columns 
flight = flightdata.rename(columns={'year' : 'Year','airportname' : 'Airport','cityname' : 'City','statename' : 'State','avgfare' : 'AvgFare','inflationadj' : 'InflationAdj','passengersample' : 'Passenger'})

In [8]:
#new dataframe
select_columns = ["Year", "Airport", "City", "State", "AvgFare", "InflationAdj", "Passenger"]
select_columns
flight = flight[select_columns]
flight.head()

,Year,Airport,City,State,AvgFare,InflationAdj,Passenger
0,2008,Athens/Ben Epps,Athens,GA,487.26,568.29,0
1,2008,Atka Airport,Atka,AK,1284.33,1497.92,0
2,2008,Altoona-Blair County,Altoona,PA,421.49,491.58,0
3,2008,Naples Municipal,Naples,FL,381.18,444.57,0
4,2008,Laurence G Hanscom Field,Bedford,MA,169.80,198.04,0

In [9]:
#Clean the flight data
flight.fillna(0)

,Year,Airport,City,State,AvgFare,InflationAdj,Passenger
0,2008,Athens/Ben Epps,Athens,GA,487.26,568.29,0
1,2008,Atka Airport,Atka,AK,1284.33,1497.92,0
2,2008,Altoona-Blair County,Altoona,PA,421.49,491.58,0
3,2008,Naples Municipal,Naples,FL,381.18,444.57,0
4,2008,Laurence G Hanscom Field,Bedford,MA,169.80,198.04,0
5,2008,Bradford Regional,Bradford,PA,457.45,533.52,0
6,2008,Raleigh County Memorial,Beckley,WV,422.57,492.84,0
7,2008,Southeast Iowa Regional,Burlington,IA,462.00,538.83,0
8,2008,Chico Municipal,Chico,CA,279.97,326.52,0
9,2008,McClellan-Palomar,Carlsbad,CA,309.51,360.99,0
10,2008,Decatur Airport,Decatur,IL,445.71,519.84,0
11,2008,Del Rio International,Del Rio,TX,502.24,585.76,0
12,2008,Ely Airport/Yelland Field,Ely,NV,333.50,388.96,0
13,2008,Venango Regional,Franklin/Oil City,PA,402.70,469.66,0
14,2008,Northern Colorado Regional,Fort Collins/Loveland,CO,163.67,190.89,0
15,2008,Fort Dodge Regional,Fort Dodge,IA,468.91,546.89,0
16,2008,Great Bend Municipal,Great Bend,KS,589.89,687.99,0
17,2008,Grand Canyon National Park,Grand Canyon,AZ,615.00,717.27,0
18,2008,Gallup Municipal,Gallup,NM,597.00,696.28,0
19,2008,Huron Regional,Huron,SD,601.76,701.83,0
20,2008,Memorial Field,Hot Springs,AR,280.00,326.56,0
21,2008,Boone County,Harrison,AR,300.67,350.67,0
22,2008,Kingman Airport,Kingman,AZ,438.32,511.21,0
23,2008,Skylark Field,Killeen,TX,72.00,83.97,0
24,2008,Kinston Regional Jetport at Stallings Field,Kinston,NC,107.04,124.84,0
25,2008,Gogebic-Iron County,Ironwood,MI,427.20,498.24,0
26,2008,Chautauqua County/Jamestown,Jamestown,NY,444.53,518.45,0
27,2008,Downtown Manhattan/Wall Street Heliport,New York,NY,752.00,877.06,0
28,2008,John Murtha Johnstown-Cambria County,Johnstown,PA,480.06,559.90,0
29,2008,Greenbrier Valley,Lewisburg,WV,582.75,679.66,0
...,...,...,...,...,...,...,...
4880,2011,Hartsfield-Jackson Atlanta International,Atlanta,GA,368.74,411.64,927009
4881,2012,Hartsfield-Jackson Atlanta International,Atlanta,GA,365.82,400.10,927009
4882,2013,Hartsfield-Jackson Atlanta International,Atlanta,GA,397.86,428.86,927009
4883,2014,Hartsfield-Jackson Atlanta International,Atlanta,GA,424.95,450.75,927009
4884,2015,Hartsfield-Jackson Atlanta International,Atlanta,GA,390.24,413.43,927009
4885,2016,Hartsfield-Jackson Atlanta International,Atlanta,GA,350.96,367.19,927009
4886,2017,Hartsfield-Jackson Atlanta International,Atlanta,GA,350.91,359.48,927009
4887,2018,Hartsfield-Jackson Atlanta International,Atlanta,GA,350.91,359.48,927009
4888,2008,Chicago O'Hare International,Chicago-O'Hare,IL,361.46,421.57,1056893
4889,2009,Chicago O'Hare International,Chicago-O'Hare,IL,328.70,384.73,1056893
4890,2010,Chicago O'Hare International,Chicago-O'Hare,IL,355.73,409.65,1056893
4891,2011,Chicago O'Hare International,Chicago-O'Hare,IL,378.78,422.84,1056893
4892,2012,Chicago O'Hare International,Chicago-O'Hare,IL,385.05,421.13,1056893
4893,2013,Chicago O'Hare International,Chicago-O'Hare,IL,400.51,431.72,1056893
4894,2014,Chicago O'Hare International,Chicago-O'Hare,IL,415.75,440.99,1056893
4895,2015,Chicago O'Hare International,Chicago-O'Hare,IL,359.19,380.54,1056893
4896,2016,Chicago O'Hare International,Chicago-O'Hare,IL,317.98,332.69,1056893
4897,2017,Chicago O'Hare International,Chicago-O'Hare,IL,317.14,324.89,1056893
4898,2018,Chicago O'Hare International,Chicago-O'Hare,IL,317.14,324.89,1056893
4899,2008,Los Angeles International,Los Angeles,CA,389.39,454.14,1335304
4900,2009,Los Angeles International,Los Angeles,CA,343.06,401.54,1335304
4901,2010,Los Angeles International,Los Angeles,CA,369.76,425.81,1335304
4902,2011,Los Angeles International,Los Angeles,CA,394.88,440.82,1335304
4903,2012,Los Angeles International,Los Angeles,CA,401.84,439.49,1335304
4904,2013,Los Angeles International,Los Angeles,CA,411.92,444.01,1335304
4905,2014,Los Angeles International,Los Angeles,CA,422.89,448.56,1335304
4906,2015,Los Angeles International,Los Angeles,CA,398.62,422.32,1335304
4907,2016,Los Angeles International,Los Angeles,CA,355.90,372.36,1335304
4908,2017,Los Angeles International,Los Angeles,CA,352.52,361.13,1335304
4909,2018,Los Angeles International,Los Angeles,CA,352.52,361.13,1335304

In [10]:
oildata.dropna()

Empty DataFrame
Columns: [Location, Year, Quarter, Value, Flag Codes]
Index: []

In [13]:
oildata.fillna(0)

     Location  Year  Quarter   Value Flag Codes
0         AUS  2008  2008-Q1   99.80          0
1         AUT  2008  2008-Q1    0.00          C
2         BEL  2008  2008-Q1   94.82          0
3         CAN  2008  2008-Q1   94.48          0
4         CZE  2008  2008-Q1   92.25          0
5         DNK  2008  2008-Q1    0.00          C
6         FIN  2008  2008-Q1    0.00          C
7         FRA  2008  2008-Q1   96.82          0
8         DEU  2008  2008-Q1   96.60          0
9         GRC  2008  2008-Q1    0.00          C
10        IRL  2008  2008-Q1    0.00          C
11        ITA  2008  2008-Q1   94.75          0
12        JPN  2008  2008-Q1   93.46          0
13        KOR  2008  2008-Q1   93.30          0
14        NLD  2008  2008-Q1   93.89          0
15        NZL  2008  2008-Q1   97.87          0
16        NOR  2008  2008-Q1    0.00          C
17        POL  2008  2008-Q1   93.52          0
18        PRT  2008  2008-Q1    0.00          C
19        SVK  2008  2008-Q1    0.00          C
20        ESP  2008  2008-Q1   94.62          0
21        SWE  2008  2008-Q1   95.77          0
22        CHE  2008  2008-Q1    0.00          C
23        TUR  2008  2008-Q1    0.00          C
24        GBR  2008  2008-Q1   98.59          0
25        USA  2008  2008-Q1   89.73          0
26        EST  2008  2008-Q1    0.00          M
27        LUX  2008  2008-Q1    0.00          M
28        AUS  2008  2008-Q2  122.50          0
29        AUT  2008  2008-Q2    0.00          C
...       ...   ...      ...     ...        ...
1174      EST  2018  2018-Q2    0.00          M
1175      LUX  2018  2018-Q2    0.00          M
1176      AUS  2018  2018-Q3   79.30          0
1177      AUT  2018  2018-Q3    0.00          C
1178      BEL  2018  2018-Q3   74.23          0
1179      CAN  2018  2018-Q3   73.14          0
1180      CZE  2018  2018-Q3    0.00          C
1181      DNK  2018  2018-Q3    0.00          C
1182      FIN  2018  2018-Q3    0.00          C
1183      FRA  2018  2018-Q3   75.19          0
1184      DEU  2018  2018-Q3   74.37          0
1185      GRC  2018  2018-Q3    0.00          C
1186      IRL  2018  2018-Q3    0.00          C
1187      ITA  2018  2018-Q3   74.63          0
1188      JPN  2018  2018-Q3   76.65          0
1189      KOR  2018  2018-Q3   75.62          0
1190      NLD  2018  2018-Q3   73.82          0
1191      NZL  2018  2018-Q3   78.92          0
1192      NOR  2018  2018-Q3    0.00          C
1193      POL  2018  2018-Q3    0.00          C
1194      PRT  2018  2018-Q3    0.00          C
1195      SVK  2018  2018-Q3    0.00          C
1196      ESP  2018  2018-Q3   72.17          0
1197      SWE  2018  2018-Q3   76.04          0
1198      CHE  2018  2018-Q3    0.00          C
1199      TUR  2018  2018-Q3    0.00          C
1200      GBR  2018  2018-Q3   75.74          0
1201      USA  2018  2018-Q3   64.55          0
1202      EST  2018  2018-Q3    0.00          M
1203      LUX  2018  2018-Q3    0.00          M

[1204 rows x 5 columns]

In [11]:
oildata.head()

  Location  Year  Quarter  Value Flag Codes
0      AUS  2008  2008-Q1  99.80        NaN
1      AUT  2008  2008-Q1    NaN          C
2      BEL  2008  2008-Q1  94.82        NaN
3      CAN  2008  2008-Q1  94.48        NaN
4      CZE  2008  2008-Q1  92.25        NaN