# Flight Analysis

In [1]:
#Import dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as stats

In [2]:
# Read the Data
flightdata = pd.read_csv("data/avgaf.csv")
passengerdata = pd.read_csv("data/ps.csv")

In [3]:
flightdata.head()

,year,passengerrank,airportcode,airportname,cityname,statename,avgfare,inflationadj,passengersample
0,2008,410,AHN,Athens/Ben Epps,Athens,GA,487.26,568.29,0
1,2008,410,AKB,Atka Airport,Atka,AK,1284.33,1497.92,0
2,2008,410,AOO,Altoona-Blair County,Altoona,PA,421.49,491.58,0
3,2008,410,APF,Naples Municipal,Naples,FL,381.18,444.57,0
4,2008,410,BED,Laurence G Hanscom Field,Bedford,MA,169.80,198.04,0

In [ ]:
#passengerdata.head()

In [ ]:
passenger=passengerdata.rename(columns={'passengers':'Passengers','year':'Year','quarter':'Quarter'})
#passenger.head()

In [ ]:
#Clean the passenger data
passenger.fillna(0)

In [ ]:
passenger_df = pd.DataFrame(passenger)

#passenger_df

In [ ]:
# Filter the DataFrame down only to those columns to chart
yearly_passengers = passenger_df[["Passengers","Year"]]

# Set the index to be "State" so they will be used as labels
yearly_passengers = yearly_passengers.set_index("Passengers")

#yearly_passengers

In [ ]:
# Labels for the sections of our pie chart
Q4 = ["2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018"]

# The values of each section of the pie chart
traffic = [154916771, 154496705, 161405206, 161651239, 160124181, 162945857, 167994939, 178543401, 182735291, 190561921, 133190426]

# The colors of each section of the pie chart
colors = ["red", "orange", "lightcoral", "lightskyblue", "yellow", "green", "pink", "yellowgreen", "coral", "lightgreen", "blue"]

# Tells matplotlib to seperate the "Python" section from the others
explode = (0, 0, 0, 0, 0, 0, 0, 0, 0, 0.1, 0)

plt.pie(traffic, explode=explode, labels=Q4, colors=colors,
        autopct="%1.1f%%", shadow=True, startangle=60)

plt.axis("equal")

plt.title("% of Q4 Airline Traffic '08-18'")

In [ ]:


# Split up our data into groups based upon 'gender'
quarter_groups = passenger.groupby('Quarter')

# Find out how many of each gender took bike trips
yearly_count = quarter_groups['Passengers'].sum()





# Chart our data, give it a title, and label the axes
year_chart = yearly_count.plot(kind="bar", title="Passengers by Quarter '08-'18")
year_chart.set_xlabel("Quarter")
year_chart.set_ylabel("Passengers")





plt.xticks(rotation=360)




plt.show()

In [ ]:
# Chart our data, give it a title, and label the axes
year_chart = yearly_count.plot(kind="bar", title="Passengers by Quarter '08-'18")
year_chart.set_xlabel("Quarter")
year_chart.set_ylabel("Passengers")



plt.xticks(rotation=360)

#plt.savefig("Images/Total_Passengers_By_Quarter.png")


plt.show()

In [ ]:
# Rename columns 
flight = flightdata.rename(columns={'year' : 'Year','airportname' : 'Airport','cityname' : 'City','statename' : 'State','avgfare' : 'AvgFare','inflationadj' : 'InflationAdj','passengersample' : 'Passenger'})

In [ ]:
#new dataframe
select_columns = ["Year", "Airport", "City", "State", "AvgFare", "InflationAdj", "Passenger"]
select_columns
flight = flight[select_columns]
flight.head()

In [ ]:
#Clean the flight data
flight.fillna(0)

In [ ]:
flight_df = pd.DataFrame(flight)

#flight_df

In [ ]:

# Split up our data into groups based upon 'gender'
average_fare = flight_df.groupby('Year')

# Find out how many of each gender took bike trips
yearly_count = average_fare['AvgFare'].mean()



# Chart our data, give it a title, and label the axes
year_chart = yearly_count.plot(kind="line", title="Average Ticket Price Pre Adjusted 2008-2018")
plt.grid( b= True)
year_chart.set_xlabel("Year")
year_chart.set_ylabel("Average Airline Ticket $")



plt.xticks(rotation=360)



#plt.savefig("Images/Average_price.png")

plt.show()

In [ ]:

# Split up our data into groups based upon 'gender'
passengers_avg = flight_df.groupby('Year')

# Find out how many of each gender took bike trips
adjusted_count = passengers_avg['Passenger'].mean()



# Chart our data, give it a title, and label the axes
year_chart = adjusted_count.plot(kind="line", title="Average Passengers Traveling by Year 2008-2018")
year_chart.set_xlabel("Years")
year_chart.set_ylabel("Avg Passengers")
plt.grid( b= True)




plt.xticks(rotation=360)


#plt.savefig("Images/adjusted_Price.png")

plt.show()

In [ ]:
flight_df["AvgFare"].mean()

In [ ]:
flight_df["InflationAdj"].mean()